PORT = 8080

DB_HOST = 127.0.0.1
DB_DIALECT = mysql
DB_PORT = 3306

DB_NAME = db
DB_USER = root
DB_PASS = 
 
JWT_SECRET = "anything that is secret is secret"

# Email creadentials to send mail
EMAIL_USER=
EMAIL_PASS=

# Front End base URL 
CLIENT_URL=http://localhost:5173

#CLOUDINARY
CLOUDINARY_CLOUD_NAME = 
CLOUDINARY_API_KEY = 
CLOUDINARY_API_SECRET = 